.container-home {
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  .flex_content {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-content: center;
    margin-left: 25px;
    width: 30%;
    .title_app {
      color: $dark-gray;
      font-weight: bold;
      font-size: 57px;
      margin: 0 0 21px 0;
      line-height: 1;
      text-transform: uppercase;
      z-index: 2;
    }
  }
  .flex {
    z-index: 2;
    a.links {
      border: 2px solid $dark-gray;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 30px;

      color: $dark-gray;
      transition: background-color 0.5s ease;
      &:hover{
        border: 2px solid $dark-gray;
        color: #fff;
        background: $dark-gray;
        text-decoration: none;
      }
    }
  }
}
#trapezoid {
  border-bottom: 100vh solid white;
  border-right: 29vw solid transparent;
  height: 0;
  position: fixed;
  left: 0;
  width: 49vw;
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  #trapezoid {
    border-bottom: 100vh solid white;
    border-right: 29vw solid transparent;
    height: 0;
    position: fixed;
    left: 0;
    width: 61vw;
  }
}

@media only screen
and (min-width: 481px)
and (max-width: 767px) {
    #trapezoid { width: 91vw;}
}

@media only screen
and (min-width: 320px)
and (max-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

  #trapezoid {
    border-right: 0vw solid transparent;
    width: 100vw;
  }

  .container-home .flex_content {
      width: 49%;
  }

}
