<div class="navbar">
  <!-- Logo -->
  <%= link_to cocktails_path, class: "navbar-brand" do %>
  <%= image_tag "logo.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right">
    <%= link_to destroy_user_session_path, method: :delete do %>
    <%= image_tag "log_out.svg", height: 20 %>
    <% end %>
  </div>
</div>

