<div class="container-home" style="background-image: linear-gradient(to top right, rgba(71, 126, 196, 0.2), rgba(66, 157, 223, 0.2)), url('<%= asset_path("background-cocktail.png") %>');">
  <div class="flex_content">
    <div class="align-items">
      <h1 class="title_app">My<br>cocktails</h1>
      <div class="sign-in-button">
        <%= link_to "Sign in", new_user_session_path, class: "links"%> 
      </div>
    </div>
   <div id="trapezoid"></div>
 </div>
</div>
